# .env.example
# Kopiere diese Datei zu .env oder nutze sie als Vorlage für CI/CD

# VITE_API_URL: Die URL zu deinem Backend API
# Beispiel: http://localhost:3000/api/v1 (Für lokales Development)
# Beispiel: https://api.smartrescue.at/v1 (Für Production)
VITE_API_URL=http://localhost:3000/api/v1
